# Build directories
build/
debug/
release/

# Qt-specific
*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.qmake.cache
.qmake.stash

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Credentials and tokens
client_secrets.json
token.pickle
*.token
credentials.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.mp4

Ez_voder
*.exe
*.out 